@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --ui-header-height: --spacing(16);
  --blur-2xs: 2px;

  --animate-wiggle: wiggle 0.2s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  --animate-typing: typing 2s steps(20) infinite alternate, blink .7s infinite;
  @keyframes typing {
    0% {
      width: 0;
      visibility: hidden;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
    100% {
      border-color: white;
    }
  }
}

.tabs-scrollable {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overscroll-behavior: contain auto;
}